{% extends "base.jinja2" %}
{% block title %}
Battle
{% endblock %}
{% block content %}
<style type="text/css" media="screen">
#editor {
    height:  300px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
</style>
    <div></div>
    <div>
        <h1> {{ battle.short_description }} </h1>
        {{ battle.long_description }}
    </div>
    <div id="code">
        <h3> Your code </h3>
        <ace-editor id="editor" mode="python">def hello():
    print("Olha Eu aqui")

if __name__ == "__main__":
    def hello()</ace-editor >
        <div>
            <button id="button-submit">Submit</button>
            <input id="battle_pk" type='hidden' value="{{ battle.pk }}"/>
                {% csrf_token %}
         <!--   <form method="POST" id="form">
                <select id="lang" name="lang">
                    <option value="python" selected>Python</option>
                    <option value="javascript">JavaScript</option>
                    <option value="java">Java</option>
                </select>
                <input type="hidden" id="code" name="code" value="">
            </form> -->
        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js" type="text/javascript" charset="utf-8"></script>

{% block custimized_box %}
    <div id="customized_box">
    </div>
{% endblock %}
<script >
$(document).ready(function(){
    $("#button-submit").click(function(){
        var csrftoken = $("input[name=csrfmiddlewaretoken]")[0].value;
        var battle_pk = $("#battle_pk")[0].value
        $.ajax({
            url:"/battles/battle/"+battle_pk,
            data: {code: $("#editor")[0].getValue()},
            headers: { "X-CSRFToken": csrftoken },
            type: 'POST',
            beforeSend: function(e){
                    $('#code').hide();
                    $('#customized_box').show()
                    $('#customized_box')[0].innerHTML="<h2>Enviando...</h2>";
                },
            success: submition,
            error: function(e){alert('Sorry, an error occurred');},
        });

    function submition(data){
        console.log(data);

        $('#customized_box')[0].innerHTML="<h1>"+data.messages[data.status_code]+"</h1><button onclick='"+(data.status_code == 1? 'wa()':'ac_limit()')+"'>Ok</button>";
    }
    });

    
        
 //       $("#code")[0].setAttribute('value', $("#editor")[0].getValue());
 //       $("#form")[0].submit();
});
function wa(){
    $('#code').show();
    $('#customized_box').hide();
}
function ac_limit(){
    location.href="/battles/user"
}
</script>
{% endblock %}
