{% extends "viewpack/crud/detail.jinja2" %}
{% block nav_sections %}
    {{super()}}
    <nav>
    <p><a href="/battles/">Battles</a></p>
    <ul>
        <li><a href="/battles/new">New</a></li>
        <li><a href="/battles/user">My</a></li>
        <li><a href="/battles/invitations">Invitations</a></li>
    </ul>
    </nav>
{% endblock %}
{% block object_description %}
    {% if not object.is_active %}
    <h1>Resultado da Batalha</h1>
        {% if object.battle_winner %}
            <div>
               <h2><a href="/accounts/{{object.battle_winner.response.user.username}}">Winner {{ object.battle_winner.response.user }} </a><br>
            </div>
        {% endif %}
        {% for battle_result in all_battles %}
            <div id="{{battle_result.response.user.id}}">
                User: {{ battle_result.response.user }} <br>
                Time: {{ (battle_result.time_end - battle_result.time_begin)|deltaformat }} <br>
                Characters count: {{ battle_result.last_item.source|length  }}<br>
                Code winner:

                <ace-editor id="editor" mode="{{object.language.ref}}">{{ battle_result.last_item.source }}</ace-editor >
            </div>
            <p>
        {% endfor %}
    {% else %}
        <h1>Esta batalha ainda está ativa!</h1>
        {% if object.invitations_user.all()%}
            <h3>Faltam os usuários:</h3>
            <ul>
                {% for i in object.invitations_user.all() %}
                    <li>{{ i }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <h3>Possue as batalhas ativas: </h3>
        <ul>
            {% for i in object.battles.all() %}
                {% if i.is_active %}
                    <li>{{i.pk}}{{i.response.user}}</li>
                {% endif %} 
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

